<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/fragments.html :: head(title = 'Stock Page')">
</head>
<body>
<th:block th:include="partials/fragments.html :: nav">
</th:block>

<div class="page-content">


<div class="container p-3">
    <div class="balance-container">
        <h2 class="mb-0">BALANCE: $<span th:text="${user.balance}" th:id="user-balance">500</span></h2>
        <h6>(Buying Power)</h6>
    </div>

</div>


<div class="container p-0 mb-3">
<!--    <div class="d-flex align-items-center mb-1">-->
        <div class="row">
            <div class="col">
                <h1 class="ml-3 mr-2 mb-0" th:text="${currentStock.name}">Sample Company</h1>
            </div>
            <div class="col d-inline-flex align-items-end">
                <h1 class="ml-1 mb-0" th:text="${'(' + currentStock.ticker + ')'}">SCC</h1>
                <span th:switch="${currentStock.id}">
                    <span th:case="'1'"><i class="fas fa-3x pl-3 fa-fish yellow align-middle"></i></span>
                    <span th:case="'2'"><i class="fas fa-3x pl-3 pb-2 fa-book violet"></i></span>
                    <span th:case="'3'"><i class="fas fa-3x pl-3 fa-laptop-medical blue2"></i></span>
                    <span th:case="'4'"><i class="fas fa-3x pl-3 fa-dragon orange2"></i></span>
                    <span th:case="'5'"><i class="fas fa-3x pl-3 fa-apple-alt red1"></i></span>
                    <span th:case="'6'"><i class="fas fa-3x pl-3 fa-gamepad grey"></i></span>
                    <span th:case="'7'"><i class="fas fa-3x pl-3 fa-pepper-hot red1"></i>
                                        <i class="fas fa-3x fa-utensils"></i></span>
                    <span th:case="'8'"><i class="fas fa-3x pl-3 fa-prescription red1"></i></span>
                    <span th:case="'9'"><i class="fas fa-3x pl-3 fa-hat-cowboy brown"></i></span>
                    <span th:case="'10'"><i class="far fa-3x pl-3 fa-gem"></i></span>
                    <span th:case="'11'"><i class="fas fa-3x pl-3 fa-gas-pump red1"></i></span>
                    <span th:case="'12'"><i class="fas fa-3x pl-3 fa-ticket-alt yellow"></i>
                                         <i class="fas fa-3x fa-football-ball brown2"></i></span>
                    <span th:case="'13'"><i class="fas fa-3x pl-3 fa-wrench grey"></i>
                                         <i class="fas fa-3x fa-car blue2"></i></span>
                    <span th:case="'14'"><i class="fas fa-3x pl-3 fa-circle pink1"></i></span>
                    <span th:case="'15'"><i class="fas fa-3x pl-3 fa-chess-queen yellow"></i>
                                         <i class="fas fa-3x fa-mobile-alt pink"></i></span>
                    <span th:case="'16'"><i class="fas fa-3x pl-3 fa-user-secret" style="color: #000;"></i></span>
                    <span th:case="'17'"><i class="fas fa-3x pl-3 fa-tshirt pink1"></i></span>
                    <span th:case="'18'"><i class="fas fa-3x pl-3 fa-piggy-bank pink1"></i></span>
                    <span th:case="'19'"><i class="fas fa-3x pl-3 fa-prescription-bottle-alt orange1"></i></span>
                    <span th:case="'20'"><i class="fas fa-3x pl-3 fa-warehouse grey"></i></span>
                 </span>
            </div>
<!--        </div>-->
    </div>
    <div class="row mx-3 d-flex justify-content-around stock-stats">
        <div class="col p-0 mx-3 my-3 d-flex align-content-center flex-column text-center">
            <h2 class="m-0">OPEN</h2>
            <h4 class="pb-3" th:text="${currentStock.getOpenPrice()}">$30.00</h4>

            <h2 class="m-0">MARKET PRICE</h2>
            <h4 th:text="${currentStock.getMarketPrice()}">$30.00</h4>
        </div>
        <div class="col p-0 mx-3 my-3 d-flex align-content-center flex-column text-center">
            <!--                <h2 class="m-0">52-WEEK LOW</h2>-->
            <!--                <h4 class="pb-3" th:text="${currentStock.getYearLowPrice()}">$30.00</h4>-->

            <!--                <h2 class="m-0">52-WEEK HIGH</h2>-->
            <!--                <h4 class="pb-3" th:text="${currentStock.getYearHighPrice()}">$30.00</h4>-->
            <h2 class="m-0">LOW</h2>
            <h4 class="pb-3" th:text="${currentStock.getLowPrice()}">$30.00</h4>

            <h2 class="m-0">HIGH</h2>
            <h4 th:text="${currentStock.getHighPrice()}">$30.00</h4>
        </div>
        <div class="col py-3 mx-3 d-flex align-items-center justify-content-around flex-column text-center">
            <button class="mx-3 mt-2 mb-1 buy-stock-btn" type="button" data-target="#modal" data-toggle="modal"
                    id="buyBtn"><i class="far fa-money-bill-alt fa-md"></i> BUY
            </button>
            <button class="mx-3 mt-2 mb-1 sell-stock-btn" th:if="${currentUserStock.getShares() > 0}" type="button"
                    data-target="#modal"
                    data-toggle="modal" id="sellBtn"><i class="fas fa-hand-holding-usd fa-md"></i>
                SELL
            </button>
        </div>
    </div>
</div>


<!-- MODAL -->
<form th:action="@{/stocks}" th:method="POST">
    <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header border-0">
                    <div class="d-flex flex-column">
                        <div>
                            <h5 class="mb-0"><span th:text="${currentStock.name}">Sample Company</span>
                                $<span th:text="${currentStock.marketPrice}" th:id="marketPrice">100.00</span></h5>
                        </div>
                        <div>
                            <h5 class="mb-0">Currently Owned:
                                <span th:text="${currentUserStock.getShares()}" id="ownShares">4</span></h5>
                        </div>
                    </div>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true"><i class="fas fa-times"></i></span></button>
                </div>
                <div class="modal-body text-center">
                    <h4><input th:value="0.00" th:name="currentStock_total"
                               th:id="currentStock_total" placeholder="Total Cost"
                               class="current-stock-total mb-2 text-center" readonly></h4>
                    <button type="button" id="subtract-btn"><i class="fas fa-minus"></i></button>
                    <input type="number" th:value="0" class="text-center" placeholder="# Shares"
                           th:name="stockShares"
                           th:id="currentStock" readonly>
                    <input type="text" th:name="ticker" th:value="${currentStock.ticker}" hidden>
                    <button type="button" id="add-btn"><i class="fas fa-plus"></i></button>
                </div>
                <div class="modal-footer border-0">
                    <input type="text" th:name="stockAction" id="stockAction" th:value="buy" hidden>
                    <button type="submit" id="modal-buy-sell-btn" class="modal-buy-btn m-0">Buy</button>
                </div>
            </div>
        </div>
    </div>
</form>


<div class="container">
    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr class="text-center ">
                <th class="border-0 px-0" >
                    <p class="mb-0">NAME</p>
                </th>
                <th class="border-0 px-0">
                    <p class="mb-0">TICKER</p>
                </th>
                <th class="border-0 px-0">
                </th>
                <th class="border-0 px-0">
                    <p class="mb-0">TODAY</p>
                </th>
                <th class="border-0 px-0">
                    <p class="mb-0">MARKET PRICE</p>
                </th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="stock : ${stocks}">
                <tr class="text-center table-stocks">
                    <td class="align-middle border-0 px-0" th:text="${stock.getName()}"></td>
                    <td class="align-middle border-0 px-0" th:text="${stock.getTicker()}">SCC</td>
                    <td class="align-middle border-0 px-0 text-right">
                        <span th:style="${stock.getChange()} > 0 ? 'color: #0D8D00' : 'color: #FF3E02'">
                            <th:block
                                    th:if="${stock.getChange()} > 0"><i class="fas fa-chevron-up fa-sm"></i></th:block>
                            <th:block
                                    th:unless="${stock.getChange()} > 0"><i class="fas fa-chevron-down fa-sm"></i></th:block>
                        </span>
                    </td>
                    <td class="align-middle border-0 px-0">
                        <span class="align-middle daily-percentage"
                              th:text="${stock.getChange() + '%'}"></span>
                    </td>
                    <td class="align-middle border-0 px-0" th:text="${#numbers.formatDecimal(stock.getMarketPrice(), 0, 'DEFAULT', 2, 'DEFAULT')}">$32</td>
                    <td class="align-middle border-0 text-center px-0"><a
                            th:href="@{|/stocks?ticker=${stock.getTicker()}|}"
                                                                     href="#">View</a></td>
                </tr>
            </th:block>
            </tbody>
        </table>
    </div>
</div>
</div>

<footer th:replace="partials/fragments.html :: footer"></footer>
<th:block th:include="partials/fragments.html :: scripts">
</th:block>
<script type="text/javascript" th:src="@{/js/stock-buy-sell.js}"></script>
</body>
</html>