<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/fragments.html :: head(title = 'Stock Page')">
</head>
<body>
<th:block th:include="partials/fragments.html :: nav">
</th:block>
<div>
    <h1>BALANCE: $<span th:text="${user.balance}" th:id="user-balance">500</span> </h1>
    <h6>(Buying Power)</h6>
</div>
<br>
<br>

<div class="container">
    <div class="row">
    <h1 th:text="${currentStock.name}"></h1>
    <h1 th:text="${currentStock.ticker}"></h1>
    </div>
    <div class="row">
        <div class="col">
            <h4>OPEN</h4>
            <h5 th:text="${currentStock.getOpenPrice()}"></h5>
            <h4>LOW</h4>
            <h5 th:text="${currentStock.getLowPrice()}"></h5>
            <h4>HIGH</h4>
            <h5 th:text="${currentStock.getHighPrice()}"></h5>
        </div>
        <div class="col">
            <h4>52-WEEK LOW</h4>
            <h5 th:text="${currentStock.getYearLowPrice()}"></h5>
            <h4>52-WEEK HIGH</h4>
            <h5 th:text="${currentStock.getYearHighPrice()}"></h5>
            <h4>MARKET PRICE</h4>
            <h5 th:text="${currentStock.getMarketPrice()}"></h5>
        </div>
    </div>
    <button type="button" data-target="#buyModal" data-toggle="modal">BUY</button>
    <button type="button" data-target="#sellModal" data-toggle="modal">SELL</button>

    <!-- MODAL -->
    <form th:action="@{/stocks}" th:method="POST">
        <div class="modal fade" id="buyModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="" th:text="${currentStock.name }"></h5>
                        <h5> - $<span th:text="${currentStock.marketPrice}" th:id="marketPrice"></span></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
    <!--                    <label for="total_purchase_cost">Total Purchase Cost:</label>-->
    <!--                    <input th:name="currentStock_total" th:id="currentStock_total" th:value="0">-->
                        <h4 th:text="0.00" th:id="currentStock_total"></h4>
                        <button type="button" id="subtract-btn">-</button>
                        <input type="number" th:value="0" th:name="stockShares" th:id="currentStock">
                        <button type="button" id="add-btn">+</button>
                    </div>
                    <div class="modal-footer">
                        <button type="submit">Purchase</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="container">

<div class="container">
    <table>
        <thead>
        <tr>
            <th>
                <h6>NAME</h6>
            </th>
            <th>
                <h6>TICKER</h6>
            </th>
            <th>
                <h6>TODAY</h6>
            </th>
            <th>
                <h6>MARKET PRICE</h6>
            </th>
        </tr>
        </thead>
        <tbody>
        <th:block th:each="stock : ${stocks}">
            <tr>
                <td th:text="${stock.getName()}"></td>
                <td th:text="${stock.getTicker()}"></td>
                <td th:text="${stock.getChange() + '%'}"></td>
                <td th:text="${stock.getMarketPrice()}"></td>
                <td><a th:href="@{|/stocks?ticker=${stock.getTicker()}|}">View</a></td>
            </tr>
        </th:block>
        </tbody>
    </table>


</div>


<!--<h1 th:text="${lemonadeIngredientList.get(0).getLemonade().getName()}"></h1>-->
<!--<th:block th:each="lemonadeIngredient : ${lemonadeIngredientList}">-->
<!--    <h2>Ingredient Name: <span th:text="${lemonadeIngredient.getIngredient().getName()}"></span> | Count:<span-->
<!--            th:text="${lemonadeIngredient.getCount()}"></span></h2>-->
<!--</th:block>-->

<footer th:replace="partials/fragments.html :: footer">
</footer>
<th:block th:include="partials/fragments.html :: scripts">
</th:block>
<script type="text/javascript" th:src="@{/js/stock-buy-sell.js}"></script>
</body>
</html>