<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:include="partials/fragments :: head(title = 'Business Quiz')">
</head>
<body>
<div th:include="partials/fragments :: nav"></div>

<div class="page-content">
    <div class="quiz-body">
        <div class="quizDiv container text-center">
            <form th:action="@{/learning/business/quiz}" th:method="POST">
                <div class="quizContainer container">
                    <h1 class="mb-4 quiz-title">Stock Quiz</h1>

                    <div class="question"></div>
                    <ul class="choiceList"></ul>
                    <div class="quizMessage answer-warn mb-4"></div>
                    <div class="result"></div>
                    <div class="resultAll"></div>
                    <div class="nextButton">Next Question</div>
                    <br>
                    <div id="formSubmit">
                        <button type="submit" id="viewResultsBtn">Send Earnings to Balance</button>
                        <input th:name="quiz_result" id="quiz_result" th:value="0" hidden>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>



<th:block th:include="partials/fragments :: footer"/>
<th:block th:include="partials/fragments :: scripts"/>
<script type="text/javascript" th:src="@{/js/businessQuiz.js}"></script>
</body>
</html>