<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:include="partials/fragments :: head(title = 'Business Quiz')">
</head>
<body>
<div th:include="partials/fragments :: nav"></div>

    <div class="page-content d-flex justify-content-center align-items-center">
        <div class="quiz-body">
            <form th:action="@{/learning/business/quiz}" th:method="POST" class="quiz-form">
                <div class="quizContainer container">
                    <h1 class="mb-4 quiz-title text-center">Business Quiz</h1>
                    <div id="formSubmit">
                        <div th:if='${dbUser.getTakenBusinessQuiz() == false}' class="text-center m-3">
                            <button type="submit" class="viewResultsBtn">Send Earnings to Balance</button>
                        </div>
                        <div th:if='${dbUser.getTakenBusinessQuiz() == true}' class="text-center m-3">
                            <button type="submit" class="viewResultsBtn">Return to Learning Page</button>
                        </div>
                        <input th:name="quiz_result" id="quiz_result" th:value="0" hidden>
                    </div>
                    <div class="question text-center mb-3"></div>
                    <ul class="choiceList text-left"></ul>
                    <div class="quizMessage answer-warn mb-4 text-center"></div>
                    <div class="result mb-3 text-center"></div>

                    <div th:if='${dbUser.getTakenBusinessQuiz() == false}' class="text-right m-3 hidden">
                        <div class="earnings mb-3 text-center"></div>
                    </div>

                    <div class="resultAll"></div>
                    <div class="nextButton text-center">Next Question</div>
                    <br>

                </div>
            </form>
        </div>
    </div>



<th:block th:include="partials/fragments :: footer"/>
<th:block th:include="partials/fragments :: scripts"/>
<script type="text/javascript" th:src="@{/js/businessQuiz.js}"></script>
</body>
</html>