<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:include="partials/fragments :: head(Learning)">
</head>
<body>
<div th:include="partials/fragments :: nav"></div>

    <div class="container mt-4">
        <h1>Learning Page!!</h1>
        <br>
        <a href="/learning/stock">Learn About Stock!</a>
        <br>
        <a href="/learning/business">Learn About Business!</a>
    </div>

<th:block th:include="partials/fragments :: footer"/>
<th:block th:include="partials/fragments :: scripts"/>
</body>
</html>