<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:include="partials/fragments :: head(Learning)">
</head>
<body>
<div th:include="partials/fragments :: nav"></div>

    <div class="container mt-4">
        <h1>Learning Page!!</h1>
        <br>
    </div>

    <!--LEARN ABOUT BUSINESS-->
    <div class="container businessContainer mt-4">
        <h3>Learn about business!</h3>
        <br>
        <div th:if='${dbUser.getTakenBusinessQuiz() == false}'>
            <a href="/learning/business/quiz">Take the Business Quiz!</a>
        </div>
        <div th:if='${dbUser.getTakenBusinessQuiz() == true}'>
            <h6>Business Quiz Has Already Been Taken</h6>
        </div>

        <!--START OF FEATURETTES-->
        <hr class="featurette-divider">
        <div class="row featurette">
            <div class="col-md-7">
                <h2>Profit</h2>
                <p class="lead">Profit is the amount of money you earned after you subtract the amount of money you spent on buying inventory and operating your business. For example, if the cost of lemonade ingredients is $1 and you sell each lemonade for $4, then you make a profit of $3.</p>
            </div>
            <div class="col-md-5">
                <h2>space for img</h2>
            </div>
        </div>
        <!--second featurette-->
        <hr class="featurette-divider">
        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2>Inventory</h2>
                <p class="lead">Inventory is a complete list of the items you have available to make lemonades. For example, you need lemons, sugar, water, ice, and other fruits to make your lemonades. When you are running out of any one of these items, you must purchase more to add to your inventory so you can make more lemonades.</p>
            </div>
            <div class="col-md-5 order-md-1">
                <h2>space for img</h2>
            </div>
        </div>
        <!--third featurette-->
        <hr class="featurette-divider">
        <div class="row featurette">
            <div class="col-md-7">
                <h2>Transaction</h2>
                <p class="lead">A transaction is when you buy or sell something. Each time you buy inventory, this will be shown in your transactions page. Your daily sales will be shown in your sales transactions page.</p>
            </div>
            <div class="col-md-5">
                <h2>space for img</h2>
            </div>
        </div>
        <!--forth featurette-->
        <hr class="featurette-divider">
        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2>Heading</h2>
                <h5 class="text-muted">Muted Heading</h5>
                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error facilis inventore ipsa minima minus nostrum perspiciatis possimus quidem sed vel.</p>
            </div>
            <div class="col-md-5 order-md-1">
                <h2>space for img</h2>
            </div>
        </div>
        <!--fifth featurette-->
        <hr class="featurette-divider">
        <div class="row featurette">
            <div class="col-md-7">
                <h2>Popularity</h2>
                <p class="lead">The more popular your lemonade stand is, the more frequently customers will buy lemonades. More customers means you make more money!</p>
            </div>
            <div class="col-md-5">
                <h2>space for img</h2>
            </div>
        </div>
        <!--sixth featurette-->
        <hr class="featurette-divider">
        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2>Addons</h2>
                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error facilis inventore ipsa minima minus nostrum perspiciatis possimus quidem sed vel.</p>
            </div>
            <div class="col-md-5 order-md-1">
                <h2>space for img</h2>
            </div>
        </div>
    </div>


    <!--LEARN ABOUT STOCK-->
    <div class="container stockContainer mt-4">
        <h3>Learn About Stock!</h3>
        <br>
        <div th:if='${dbUser.getTakenStockQuiz() == false}'>
            <a href="/learning/stock/quiz">Take the Quiz!</a>
        </div>
        <div th:if='${dbUser.getTakenStockQuiz() == true}'>
            <h6>Stock Quiz Has Already Been Taken</h6>
        </div>

        <!--START OF FEATURETTES-->
        <hr class="featurette-divider">
        <div class="row featurette">
            <div class="col-md-7">
                <h2>Heading</h2>
                <h5 class="text-muted">Muted Heading</h5>
                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error facilis inventore ipsa minima minus nostrum perspiciatis possimus quidem sed vel.</p>
            </div>
            <div class="col-md-5">
                <h2>space for img</h2>
            </div>
        </div>
        <!--second featurette-->
        <hr class="featurette-divider">
        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2>Heading</h2>
                <h5 class="text-muted">Muted Heading</h5>
                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error facilis inventore ipsa minima minus nostrum perspiciatis possimus quidem sed vel.</p>
            </div>
            <div class="col-md-5 order-md-1">
                <h2>space for img</h2>
            </div>
        </div>
        <!--third featurette-->
        <hr class="featurette-divider">
        <div class="row featurette">
            <div class="col-md-7">
                <h2>Heading</h2>
                <h5 class="text-muted">Muted Heading</h5>
                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error facilis inventore ipsa minima minus nostrum perspiciatis possimus quidem sed vel.</p>
            </div>
            <div class="col-md-5">
                <h2>space for img</h2>
            </div>
        </div>
        <!--forth featurette-->
        <hr class="featurette-divider">
        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2>Heading</h2>
                <h5 class="text-muted">Muted Heading</h5>
                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error facilis inventore ipsa minima minus nostrum perspiciatis possimus quidem sed vel.</p>
            </div>
            <div class="col-md-5 order-md-1">
                <h2>space for img</h2>
            </div>
        </div>
        <!--fifth featurette-->
        <hr class="featurette-divider">
        <div class="row featurette">
            <div class="col-md-7">
                <h2>Heading</h2>
                <h5 class="text-muted">Muted Heading</h5>
                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error facilis inventore ipsa minima minus nostrum perspiciatis possimus quidem sed vel.</p>
            </div>
            <div class="col-md-5">
                <h2>space for img</h2>
            </div>
        </div>
        <!--sixth featurette-->
        <hr class="featurette-divider">
        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2>Heading</h2>
                <h5 class="text-muted">Muted Heading</h5>
                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error facilis inventore ipsa minima minus nostrum perspiciatis possimus quidem sed vel.</p>
            </div>
            <div class="col-md-5 order-md-1">
                <h2>space for img</h2>
            </div>
        </div>
    </div>

<th:block th:include="partials/fragments :: footer"/>
<th:block th:include="partials/fragments :: scripts"/>
</body>
</html>