<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:include="partials/fragments :: head(Stock-Quiz)">
</head>
<body>
<div th:include="partials/fragments :: nav"></div>

<div class="quizContainer container">
    <h1>Take the Stock Quiz!</h1>

    <div class="question"></div>
    <ul class="choiceList"></ul>
    <div class="quizMessage"></div>
    <div class="result"></div>
    <div class="resultAll"></div>
    <div class="nextButton">Next Question</div>
    <br>
</div>

<th:block th:include="partials/fragments :: footer"/>
<th:block th:include="partials/fragments :: scripts"/>
<script type="text/javascript" th:src="@{/js/quiz.js}"></script>
<script type="text/javascript" th:src="@{/js/stockQuiz.js}"></script>
</body>
</html>