<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:include="partials/fragments :: head(Stock-Quiz)">
</head>
<body>
<div th:include="partials/fragments :: nav"></div>

    <div class="quizContainer container">
        <h1>Stock Quiz Results!</h1>

        <div id="resultPage">
        </div>

    </div>


<th:block th:include="partials/fragments :: footer"/>
<th:block th:include="partials/fragments :: scripts"/>
<!--<script type="text/javascript" th:src="@{/js/quiz.js}"></script>-->
<!--<script type="text/javascript" th:src="@{/js/stockQuiz.js}"></script>-->
<script type="text/javascript" th:src="@{/js/stockResults.js}"></script>
</body>
</html>