<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:include="partials/fragments :: head(Stock-Quiz)">
</head>
<body>
<div th:include="partials/fragments :: nav"></div>

<form th:action="@{/learning/stock/quiz}" th:method="POST">
    <div class="quizContainer container">
        <h1>Take the Stock Quiz!</h1>

        <div class="question"></div>
        <ul class="choiceList"></ul>
        <div class="quizMessage"></div>
        <div class="result"></div>
        <div class="resultAll"></div>
        <div class="nextButton">Next Question</div>
        <br>
        <div id="formSubmit">
            <button type="submit" id="viewResultsBtn">Send Earnings to Balance</button>
            <input th:name="quiz_result" id="quiz_result" th:value="0" hidden>
        </div>

    </div>
</form>

<th:block th:include="partials/fragments :: footer"/>
<th:block th:include="partials/fragments :: scripts"/>
<!--<script type="text/javascript" th:src="@{/js/quiz.js}"></script>-->
<script type="text/javascript" th:src="@{/js/stockQuiz.js}"></script>
</body>
</html>