<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:include="partials/fragments :: head('Leaderboard')">
</head>
<body>
<div th:include="partials/fragments :: nav"></div>

    <div class="container">
        <h1>Leaderboard</h1>
        <table>
            <thead>
                <tr>
                    <th><h4>USERNAME</h4></th>
                    <th><h4>PORTFOLIO VALUE</h4></th>
                </tr>
            </thead>
            <tbody>
                <div th:each="eachUser : ${eachUser}">
                    <tr>
                        <td th:text="${eachUser.username}"></td>
                        <td>$10,000.00</td>
                    </tr>
                    <tr>
                        <td>daynaL</td>
                        <td>$9,925.00</td>
                    </tr>
                </div>
            </tbody>
        </table>
    </div>

<th:block th:include="partials/fragments :: footer"/>
<th:block th:include="partials/fragments :: scripts"/>
</body>
</html>