<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:include="partials/fragments :: head('Leaderboard')">
</head>
<body>
<div th:include="partials/fragments :: nav"></div>

<div class="container page-content my-5">
    <h1 class="mb-0 text-center">LEADERBOARD</h1>
    <h3 class="mb-0 text-center">Your Portfolio Value: $<span th:text="${#numbers.formatDecimal(sortedMap.get(dbUser.getUsername()), 0, 'DEFAULT', 2, 'DEFAULT')}"></span></h3>
    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr class="text-center ">
                <th class="border-0 px-0">
                    <p class="mb-0">RANKING</p>
                </th>
                <th class="border-0 px-0">
                    <p class="mb-0">USERNAME</p>
                </th>
                <th class="border-0 px-0">
                    <p class="mb-0">PORTFOLIO VALUE</p>
                </th>
            </tr>
            </thead>
            <tbody>
            <div th:each="entry, iStat : ${sortedMap}">
                <div th:switch="${dbUser.getUsername() == entry.key}">
                    <tr class="text-center table-stocks" th:case="${true}" style="background-color: darkseagreen">
                        <td class="align-middle border-0 px-0" th:text="${iStat.count}"></td>
                        <td class="align-middle border-0 px-0 text-capitalize" th:text="${entry.key}"></td>
                        <td class="align-middle border-0 px-0">$<span th:text="${#numbers.formatDecimal(entry.value, 0, 'DEFAULT', 2, 'DEFAULT')}"></span></td>
                    </tr>
                    <tr class="text-center table-stocks" th:case="*">
                        <td class="align-middle border-0 px-0" th:text="${iStat.count}"></td>
                        <td class="align-middle border-0 px-0 text-capitalize" th:text="${entry.key}"></td>
                        <td class="align-middle border-0 px-0">$<span th:text="${#numbers.formatDecimal(entry.value, 0, 'DEFAULT', 2, 'DEFAULT')}"></span></td>
                    </tr>
                </div>
            </div>
            </tbody>
        </table>
    </div>
    <div class="exit-link text-right mt-2">
        <a href="/profile">EXIT LEADERBOARD</a>
    </div>
</div>

<th:block th:include="partials/fragments :: footer"/>
<th:block th:include="partials/fragments :: scripts"/>
</body>
</html>