<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:include="partials/fragments :: head('Leaderboard')">
</head>
<body>
<div th:include="partials/fragments :: nav"></div>

    <div class="container">
        <h1>Leaderboard</h1>
<!--        <h5 th:text="${users.getValue(dbUser.getId())}"></h5>-->
        <table>
            <thead>
                <tr>
                    <th><h4>USERNAME</h4></th>
                    <th><h4>PORTFOLIO VALUE</h4></th>
                </tr>
            </thead>
            <tbody>
                <div th:each="entry : ${sortedMap}">
                    <tr>
                        <td th:text="${entry.key}"></td>
                    </tr>
                    <tr>
                        <td th:text="${entry.value}"></td>
                    </tr>
                </div>
            </tbody>
        </table>
    </div>

<th:block th:include="partials/fragments :: footer"/>
<th:block th:include="partials/fragments :: scripts"/>
</body>
</html>