<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/fragments.html :: head(title = 'Register with Kid Invest!')">
</head>
<body>
<th:block th:include="partials/fragments.html :: nav"/>

<div class="page-content">
    <div class="register-body d-flex justify-content-center flex-column">
    <div class="text-center px-2">
        <h3>WHEN THE WORLD GIVES YOU <span class="lemons">LEMONS</span>,</h3>
        <h1 class="invest">INVEST!</h1>
    </div>

    <div class="container">
    <h1 class="text-center mb-4 sign-up">SIGN-UP</h1>
    <form th:action="@{/register}" th:method="POST" th:object="${user}">
        <div class="d-flex flex-column justify-content-center align-items-center">
           <label th:for="email">
               <input type="text" class="email" th:field="*{email}" placeholder="Email">
            </label>
            <br>
            <label th:for="username">
                <input type="text" class="username" th:field="*{username}" placeholder="Username">
            </label>
            <br>
            <label th:for="characterId">
                <input type="number" class="username" th:field="*{characterId}" placeholder="Character Id">
            </label>
            <br>
            <label th:for="password">
                <input type="password" class="password" th:field="*{password}" placeholder="Password">
            </label>
            <br>
            <label th:for="confirm">
                <input type="password" class="password" th:id="confirm" th:name="confirm"
                       placeholder="Confirm password">
            </label>
            <br>
            <button type="submit" class="register-btn mt-1">Register</button>
        </div>
    </form>
    <div class="d-flex justify-content-center align-items-center pt-2 mb-0">
        <a href="/login"><button class="login-btn">Login</button></a>
    </div>
</div>
</div>
</div>

<footer th:replace="partials/fragments.html :: footer"></footer>
<th:block th:include="partials/fragments.html :: scripts"/>
</body>
</html>