<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/fragments.html :: head(title = 'Register with Kid Invest!')">
</head>
<body>
<th:block th:include="partials/fragments.html :: nav"/>

<div class="page-content">
    <div class="register-body d-flex justify-content-center flex-column">
    <div class="text-center px-2">
        <h3>WHEN THE WORLD GIVES YOU <span class="lemons">LEMONS</span>,</h3>
        <h1 class="invest">INVEST!</h1>
    </div>

    <div class="container">
    <h1 class="text-center mb-4 sign-up">SIGN-UP</h1>
    <form th:action="@{/register}" th:method="POST" th:object="${user}">
        <div class="d-flex flex-column justify-content-center align-items-center">
            <span th:if="${error != null && error.equalsIgnoreCase('passwordmismatch')}" style="color: red">Passwords must match!</span>
            <span th:if="${error != null && error.equalsIgnoreCase('userexists')}" style="color: red">Username already exists!</span>
            <span th:if="${error != null && error.equalsIgnoreCase('emailexists')}" style="color: red">Email already exists!</span>

            <label th:for="email">
               <input type="text" class="email" th:field="*{email}" placeholder="Email" required>
            </label>
            <br>
            <label th:for="username">
                <input type="text" class="username" th:field="*{username}" placeholder="Username" required>
            </label>
            <br>
            <label th:for="password">
                <input type="password" class="password" th:field="*{password}" placeholder="Password" required>
            </label>
            <br>
            <label th:for="confirm">
                <input type="password" class="password" th:id="confirm" th:name="confirm"
                       placeholder="Confirm password" required>
            </label>
            <br>
            <label th:for="characterId">Choose your character
                <input type="number" th:field="*{characterId}" id="char-id" hidden>
            </label>
            <div>
                <img src="assets/kids/kid-1.png" alt="photo of light-skin boy with brown hair" class="active-img char-sprite">
                <img src="assets/kids/kid-2.png" alt="photo of light-skin boy with blonde hair" class="char-sprite">
                <img src="assets/kids/kid-3.png" alt="photo of tan-skin boy with dark hair" class="char-sprite">
                <img src="assets/kids/kid-4.png" alt="photo of dark-skin boy with dark hair" class="char-sprite">
                <br>
                <img src="assets/kids/kid-5.png" alt="photo of light-skin girl with brown hair" class="char-sprite">
                <img src="assets/kids/kid-6.png" alt="photo of light-skin girl with blonde hair" class="char-sprite">
                <img src="assets/kids/kid-7.png" alt="photo of tan-skin girl with dark hair" class="char-sprite">
                <img src="assets/kids/kid-8.png" alt="photo of dark-skin girl with dark hair" class="char-sprite">
            </div>
            <br>
            <button type="submit" class="register-btn mt-1">Register</button>
        </div>
    </form>
    <div class="d-flex justify-content-center align-items-center pt-2 mb-0">
        <a href="/login"><button class="login-btn">Login</button></a>
    </div>
</div>
</div>
</div>

<footer th:replace="partials/fragments.html :: footer"></footer>
<th:block th:include="partials/fragments.html :: scripts"/>
<script type="text/javascript" th:src="@{/js/register.js}"></script>
</body>
</html>