@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&family=Sniglet:wght@400;800&display=swap');

:root{
    --primary-gold-color: #FFB202;
    --deep-pink-color: #FE0298;
    --medium-violet: #94227F;
    --dark-magenta: #510F47;
    --dark-orange: #FF3E02;
    --royal-blue: #085EE5;
    --cadet-blue: #51B9BE;
    --dark-cyan: #264C51;
    --green: #0D8D00;
    --font-primary: #FFFFEB;
    --cream-color: #FFDAB5;
}

* {
    box-sizing: border-box;
}
html,
body {
    background-color: var(--cadet-blue);
    color: #fff;
    font-family: 'Sniglet', sans-serif;
    height: 100%;
}


/*NAVBAR*/
.navbar {
    color: #fff;
    background-color: var(--dark-cyan);
}
.navbar-brand {
    color: #fff;
    font-size: 25px;
    font-weight: 800;
}
.navbar-toggler-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    padding-left: 40px;
}
ul li a.nav-link {
    color: #fff;
}
.logout-btn {
    background: none;
    border: none;
    color: #fff;
}
ul li a.nav-link:hover,
.logout-btn:hover,
.navbar-brand:hover,
.navbar-toggler-icon:hover {
    color: var(--primary-gold-color);
}
.navbar-toggler:focus,
.buy-stock-btn:focus, .sell-stock-btn:focus,
td>a:focus, .modal-buy-btn:focus, .register-btn:focus, .logout-btn:focus,
.login-btn:focus, #subtract-btn:focus, #add-btn:focus, .close:focus{
    outline: 0;
}
.page-content {
    min-height: 100vh;
}


/*FOOTER*/
.footer {
    padding: 1em 0;
    margin: 0;
    bottom: 0;
    width: 100%;
    background-color: var(--dark-cyan);
    color: #969597;
    text-align: center;
}


/*HOME PAGE*/
.main-content {
    min-height: 90vh;
    margin: 0;
}
.main-content>h1 {
    text-align: center;
    font-size: 4em;
}
.main-content>h3 {
    font-size: 3em;
}
.homepage-logo {
    color: var(--primary-gold-color);
    font-weight: 800;
}


/*STOCKS CONTAINER*/
.stock-stats {
    border: 2px var(--dark-cyan) solid;
    border-radius: 10px;
    background-color: var(--dark-cyan);
}
.buy-stock-btn, .sell-stock-btn{
    padding: 0;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 25px;
    color: var(--dark-cyan);
    height: 2em;
    width: 10em;
    background-color: var(--primary-gold-color);
    border: 3px var(--primary-gold-color) solid;
    border-radius: 50px;
}
.buy-stock-btn:hover, .sell-stock-btn:hover{
    color: #fff;
    transition: color .2s ease-in;
}


/*TABLE CONTAINER*/
table {
    border-radius: 10px;
    background-color: var(--dark-cyan);
}
th {
    font-size: 2vh;
    font-weight: 400;
}
td {
    font-size: 2vh;
}
th, td {
    color: var(--font-primary);
}
td>a {
    background-color: var(--primary-gold-color);
    border: 3px var(--primary-gold-color) solid;
    border-radius: 50px;
    text-decoration: none;
    color: var(--dark-cyan);
    padding: 2px 20px;
}
td>a:hover {
    color: #fff;
    text-decoration: none;
    transition: color .2s ease-in;
}
tbody tr:nth-child(even){
    background-color: #64A6AD;
}
tbody tr:nth-child(odd){
    background-color: var(--cadet-blue);
}
tbody.dropdown-row tr:nth-child(4n), tbody.dropdown-row tr:nth-child(4n-1){
    background-color: var(--cadet-blue);
}
tbody.dropdown-row tr:nth-child(4n-2), tbody.dropdown-row tr:nth-child(4n-3){
    background-color: #64A6AD;
}
tr.owned-stock-stats {
    display: none;
    width: 100%;
}
.div-stats {
    display: none;
}
.show-more:hover {
    cursor: pointer;
}



/*STOCK MODAL*/
.modal-content {
    border-radius: 10px;
    background-color: var(--dark-cyan);
}
.balance-container {
    background-color: var(--primary-gold-color);
    border: 1px var(--primary-gold-color) solid;
    border-radius: 10px;
    color: var(--dark-cyan);
}
.current-stock-total, input[type=number] {
    background-color: var(--dark-cyan);
    border-width: 0 0 2px;
    border-color: #fff;
    color: #fff;
    outline: 0;
}
.fa-minus, .fa-plus {
    padding-top: 1px;
    color: var(--dark-cyan);
    width: 1em;
}
.fa-minus:hover, .fa-plus:hover {
    color: #fff;
}
#subtract-btn, #add-btn {
    border: 2px var(--primary-gold-color) solid;
    border-radius: 10px;
    padding: 2px;
    background-color: var(--primary-gold-color);
}
input[type=number] {
    width: 15%;
    -moz-appearance: textfield;
}
/*CHROME, SAFARI, EDGE, OPERA*/
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.modal-buy-btn {
    padding: 0;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 15px;
    color: var(--dark-cyan);
    height: 2em;
    width: 5em;
    background-color: var(--primary-gold-color);
    border: 2px var(--primary-gold-color) solid;
    border-radius: 50px;
}
.modal-buy-btn:hover {
    color: #fff;
    transition: color .2s ease-in;
}
::placeholder {
    color: #fff;
    opacity: 1;
}

/* Change autocomplete styles in WebKit */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: #fff !important;
}


/*REGISTER*/
.register-body, .login-body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
    margin: 0;
}
.register-body .container, .login-body .container {
    padding: 2rem;
    border: 3px var(--dark-cyan) solid;
    border-radius: 10px;
    background-color: var(--dark-cyan);
}
.login-body .container, .register-body .container {
    max-width: 400px;
}
.login-warn {
    color: var(--dark-orange);
}
.invest {
    font-size: 50px;
    font-weight: 800;
}
.sign-up, .login-body h1 {
    color: var(--primary-gold-color);
    font-weight: 600;
}
.active-img {
    border: var(--primary-gold-color) 1px solid;
    border-radius: 10px;
}

input[type=text].email,
input[type=text].username,
input[type=password].password,
input[type=password].password{
    background-color: var(--dark-cyan);
    border-width: 0 0 2px;
    border-color: #fff;
    color: #fff;
    outline: 0;
}
.register-btn, .login-btn {
    padding: 0;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 18px;
    color: var(--dark-cyan);
    height: 2em;
    width: 8em;
    background-color: var(--primary-gold-color);
    border: 2px var(--primary-gold-color) solid;
    border-radius: 50px;
}
.register-btn:hover, .login-btn:hover, .portfolio-lb-stock-links > a:hover {
    color: #fff;
    transition: color .2s ease-in;
}


/*PROFILE PAGE*/
.portfolio-lb-stock-links > a{
    background-color: var(--primary-gold-color);
    border: 3px var(--primary-gold-color) solid;
    border-radius: 50px;
    text-decoration: none;
    color: var(--dark-cyan);
    height: 50px;
    width: 210px;
}
.profile-stocks {
    background-color: var(--dark-cyan);
    border: 1px var(--dark-cyan) solid;
    border-radius: 10px;
}
.stat-title {
    font-size: 20px;
}
.dropdown-row {
    background-color: var(--cadet-blue);
}


/*ABOUT US*/
.card {
    background-color: #1B272A;
    background-image: linear-gradient(#1B272A 0%, #DAD9DB 95%);
    border: none;
    min-width: 198px;
    max-width: 18rem;
    overflow: hidden;
}
.about-us-img{
    height: 362px;
    max-width: 290px;
}
.socials-container {
    background-color: #2C3639;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.fa-linkedin, .fa-phone-square-alt {
    color: #fff;
}
.fa-github-square, .fa-envelope-square {
    color: #fff;
}
.socials-container > a:hover {
    text-decoration: none;
    cursor: pointer;
    transform: scale(1.2);
}
.socials-container a>img {
    max-height: 38px;
    width: auto;
}


/*BUSINESS PAGE*/
ul > li {
    list-style: none;
}
.business-link-group {
    background-color: #64A6AD;
    border: 1px #64A6AD solid;
    border-radius: 10px;
}
li .row > a.business-link {
    font-size: 2vh;
    color: #fff;
}
li > a.business-link:hover {
    color: var(--primary-gold-color);
    text-decoration: none;
}
.fa-receipt {
    color: #fff;
}
.fa-comments-dollar {
   color: #0075B0;
}


/*ADDONS PAGE*/
td>.purchase-btn {
    background-color: var(--primary-gold-color);
    border: 3px var(--primary-gold-color) solid;
    border-radius: 50px;
    text-decoration: none;
    color: var(--dark-cyan);
    padding: 2px 20px;
}
td>.purchase-btn:hover {
    color: #fff;
    text-decoration: none;
    transition: color .2s ease-in;
}
.exit-link > a {
    background-color: var(--dark-cyan);
    border: 3px var(--dark-cyan) solid;
    border-radius: 50px;
    text-decoration: none;
    color: var(--dark-orange);
    padding: 5px 20px;
}
.exit-link > a:hover {
    transition: color .2s ease-in;
    background-color: var(--dark-orange);
    border: 3px var(--dark-orange) solid;
    color: #fff;
}

/*FA ICON COLOR*/
.yellow {
    color: var(--primary-gold-color);
}
.pink1 {
    color: #FF7DA8;
}
.pink2 {
    color: var(--deep-pink-color);
}
.violet {
   color: var(--dark-magenta);
}
.purple {
    color: #8342b8;
}
.orange1 {
    color: #FF4803;
}
.orange2 {
    color: var(--dark-orange);
}
.red1{
    color: #9C0002;
}
.red2 {
    color: #9c3741;
}
.blue1 {
    color: var(--cadet-blue);
}
.blue2 {
    color: var(--royal-blue);
}
.blue3 {
    color: var(--dark-cyan);
}
.green {
    color: var(--green);
}
.green2 {
    color: #6b9548;
}
.green2 {
    color: #6b9548;
}
.green3 {
    color: #165614;
}
.grey {
    color: #AFB6B5;
}
.grey2 {
    color: #666669;
}
.brown {
    color: #A6773A;
}
.brown2 {
    color: #68382B;
}
.brown3 {
    color: #b7654c;
}





.hideBtn {
    display: none;
}


/*LEARNING PAGE*/
.stock-margin {
    margin-top: 100px;
}
.quiz-btn {
    padding: 5px 20px;
    background-color: var(--primary-gold-color);
    border: 1px var(--primary-gold-color) solid;
    border-radius: 50px;
    color: var(--dark-cyan);
}
.quiz-btn:hover {
    color: white;
    text-decoration: none;
}
.quiz-title {
    font-weight: 600;
    color: var(--dark-cyan);
    font-size: 10vh;
}
.highlight{
    color: var(--dark-cyan)
}