<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/fragments.html :: head(title = 'Addon Store')">
</head>
<body>
<th:block th:include="partials/fragments.html :: nav">
</th:block>

<h1>Welcome to the Store!</h1>

<form th:action="@{/business/addon}" th:method="POST">
    <table>
        <thead>
        <tr>
            <th>
                <h4>INGREDIENT NAME</h4>
            </th>
            <th>
                <h4>POPULARITY BONUS</h4>
            </th>
            <th>
                <h4>PRICE PER ADDON</h4>
            </th>
        </tr>
        </thead>
        <tbody>
        <th:block th:each="addon : ${addons}">
            <tr>
                <td th:text="${addon.getName()}"></td>
                <td th:text="${addon.getPopularityBonus()}"></td>
                <td th:text="${addon.getPrice()}"></td>
                <td>
                    <input type="text" value="false" th:name="${'addon_id' + addon.getId()}" th:id="${addon.getId() - 1}" hidden>
                    <button type="submit" class="purchase-btn">Purchase</button>
                </td>
            </tr>
        </th:block>
        </tbody>
    </table>
<!--    <label for="total_purchase_cost">Total Purchase Cost:</label>-->
<!--    <input th:name="total_purchase_cost" id="total_purchase_cost" th:value="0">-->
<!--    <button type="submit">BUY ADDONS</button>-->
</form>

<a href="/business">EXIT STORE</a>

<footer th:replace="partials/fragments.html :: footer">
</footer>
<th:block th:include="partials/fragments.html :: scripts">
</th:block>
<script type="text/javascript" th:src="@{/js/addons.js}"></script>
</body>
</html>