<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:include="partials/fragments :: head(Lemonade-Stand)">
</head>
<body>
<div th:include="partials/fragments :: nav"></div>

    <div class="container-fluid">
        <h1>Business</h1>
        <a href="/transactions/business/1">View Business Transactions</a>

        <table>
            <h3>BUSINESS INVENTORY</h3>
            <thead>
            <tr>
                <th>
                    <h4>INGREDIENT NAME</h4>
                </th>
                <th>
                    <h4>TOTAL AMOUNT</h4>
                </th>
            </tr>
            </thead>
            <tbody>
            <div th:each="inventory : ${inventory}">
                <tr>
                    <td th:text="${inventory.getIngredient().getName()}"></td>
<!--                    <td th:text="${inventory.getTotal()}"></td>-->
                </tr>
            </div>
            </tbody>
        </table>
    </div>

<th:block th:include="partials/fragments :: footer"/>
<th:block th:include="partials/fragments :: scripts"/>
</body>
</html>