<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:include="partials/fragments :: head(Lemonade-Stand)">
</head>
<body>
<div th:include="partials/fragments :: nav"></div>

    <div class="container mt-4">
        <h1>Business</h1>

        <table>
            <thead>
            <tr>
                <th>
                    <h4>INGREDIENT</h4>
                </th>
                <th>
                    <h4>PURCHASE COUNT</h4>
                </th>
                <th>
                    <h4>DATE</h4>
                </th>
            </tr>
            </thead>
            <tbody>
                <div th:each="businessTransaction : ${businessTransactions}">
                    <tr>
                        <td th:text="${businessTransactions.getIngredient()}"></td>
                        <td th:text="${businessTransactions.getPurchaseCount()}"></td>
                        <td th:text="${businessTransactions.getTime()}"></td>
                    </tr>
                </div>
            </tbody>
        </table>
    </div>

<th:block th:include="partials/fragments :: footer"/>
<th:block th:include="partials/fragments :: scripts"/>
</body>
</html>