<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:include="partials/fragments :: head(Lemonade-Stand)">
</head>
<body>
<div th:include="partials/fragments :: nav"></div>

    <div class="container mt-4">
        <h1>Business</h1>

        <h3>Inventory List</h3>
        <div th:each="inventory : ${inventorys}">
            <h1 th:text="${post.title}" class="mt-3"></h1>
            <p th:text="${post.body}"></p>
        </div>

    </div>



<th:block th:include="partials/fragments :: footer"/>
<th:block th:include="partials/fragments :: scripts"/>
</body>
</html>