<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:include="partials/fragments :: head(Lemonade-Stand)">
</head>
<body>
<div th:include="partials/fragments :: nav"></div>


<h1 th:if="${missingIngredient.equals('true')}">Error not enough ingredients</h1>
<h3>CURRENT INVENTORY</h3>
<div class="container-fluid">
    <h1>Lemonade Stand</h1>
    <table>
        <thead>
        <tr>
            <th>
                <h4>INGREDIENT NAME</h4>
            </th>
            <th>
                <h4>TOTAL AMOUNT</h4>
            </th>
        </tr>
        </thead>
        <tbody>
        <th:block th:each="inventory : ${inventoryList}">
            <tr>
                <td th:text="${inventory.getIngredient().getName()}"></td>
                <td th:text="${inventory.getTotal()}"></td>
            </tr>
        </th:block>
        </tbody>
    </table>
</div>

STAND OPTIONS
<br>
<form th:action="@{/business/open-stand}" th:method="POST">
    <input type="text" th:value="1" th:name="requested_lemonade_id" hidden>
    <button type="submit">Sell Lemonade</button>
<!--    <button>Sell Strawberry Lemonade</button>-->
<!--    <button>Sell Peach Lemonade</button>-->
<!--    <button>Sell Blueberry Lemonade</button>-->
<!--    <button>Sell Raspberry Lemonade</button>-->
</form>

<th:block th:include="partials/fragments :: footer"/>
<th:block th:include="partials/fragments :: scripts"/>
<script type="text/javascript" th:src="@{/js/lemonade-stand.js}"></script>
</body>
</html>