<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:include="partials/fragments :: head(Lemonade-Stand)">
</head>
<body>
<div th:include="partials/fragments :: nav"></div>

<div class="page-content">


    <div class="pt-4">

        <h1 class="mb-0 text-center stand-header">LEMONADE STAND</h1>
        <div class="d-flex flex-column justify-content-center align-items-center" id="lemonade-game"></div>


        <div>
            <div class="container">
                <form th:action="@{/business/open-stand}" th:method="POST">

                    <th:block th:each="addon : ${addonList}">
                        <input type="text" th:value="${addon.getName()}" th:id="${'addon_' + addon.getId()}" hidden>
                    </th:block>
                    <!--            <label for="spriteId">Current sprite ID:</label>-->
                    <input type="number" th:value="${spriteId}" id="spriteId" readonly hidden>

                    <div class="">
                        <h3 class="text-center pt-4">Lemonade Inventory</h3>
                        <div class="row">
                            <div class="col-4">
                                <th:block th:each="inventoryItem : ${inventoryList}">
                                    <div class="d-flex justify-content-start align-items-center">
                                        <input type="number" width="" th:value="${inventoryItem.getTotal()}"
                                               th:name="${'ingredient_id' + inventoryItem.getIngredient().getId()}"
                                               th:id="${inventoryItem.getIngredient().getName()}" readonly>
                                        <label class="ml-2 text-capitalize lemonade-ingredients"
                                               th:for="${inventoryItem.getIngredient().getName()}"
                                               th:text="${inventoryItem.getIngredient().getName()}">
                                        </label>
                                    </div>
                                </th:block>
                            </div>
                            <div class="col-8 d-flex justify-content-start">

                            </div>
                        </div>
                    </div>

                    <div class=>
                        <label for="popBonus">Popularity Bonus:</label>
                        <input type="number" th:value="${popBonus}" id="popBonus" readonly>
                    </div>

                    <!--                <form th:action="@{/business/open-stand}" th:method="POST">-->
                    <div class="text-right">
                        <label for="earnings">Total Earnings</label>
                        <input type="number" value="0" th:name="earnings" id="earnings" readonly>
                        <br>
                        <div class="exit-link">
                            <button type="submit">CLOSE SHOP</button>
                        </div>
                    </div>


                </form>
            </div>
        </div>
    </div>

</div>
<div th:include="partials/fragments :: footer"></div>
<div th:include="partials/fragments :: scripts"></div>
<script
        src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
        crossorigin="anonymous"></script>
<script src="//cdn.jsdelivr.net/npm/phaser@3.22.0/dist/phaser.js"></script>
<script type="text/javascript" th:src="@{/js/lemonade-stand.js}"></script>

</body>
</html>