<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:include="partials/fragments :: head(Lemonade-Stand)">
</head>
<body>
<div th:include="partials/fragments :: nav"></div>

<div class="container">
    <div class="pt-3">
        <h1 class="mb-0">BUSINESS TRANSACTIONS</h1>
        <h3>RECENT HISTORY</h3>
    </div>
    <br>
    <br>
</div>

<div class="container">
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr class="text-center">
                    <th class="border-0">
                        <p class="mb-0">INGREDIENT NAME</p>
                    </th>
                    <th class="border-0">
                        <p class="mb-0">DATE</p>
                    </th>
                    <th class="border-0">
                        <p class="mb-0">PURCHASE COUNT</p>
                    </th>
                    <th class="border-0">
                        <p class="mb-0">TOTAL COST</p>
                    </th>
                </tr>
            </thead>
            <tbody>
                <th:block th:each="businessTransaction : ${businessTransactions}">
                    <tr class="text-center">
                        <td class="align-middle border-0" th:text="${businessTransaction.getIngredient().getName()}"></td>
                        <td class="align-middle border-0" th:text="${businessTransaction.getTime()}"></td>
                        <td class="align-middle border-0" th:text="${businessTransaction.getPurchaseCount()}"></td>
                        <td class="align-middle border-0"
                                th:text="${businessTransaction.getPurchaseCount() * businessTransaction.getIngredient().getCost()}"></td>
                    </tr>
                </th:block>
            </tbody>
        </table>
    </div>
</div>

<th:block th:include="partials/fragments :: footer"/>
<th:block th:include="partials/fragments :: scripts"/>
</body>
</html>