<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:include="partials/fragments :: head('Creators')">
</head>
<body>
<div th:include="partials/fragments :: nav"></div>

<div class="container text-center">
    <h2 class="display-3 mt-5 pt-5 mb-0">CREATORS OF KID INVEST</h2>
    <div class="page-content d-flex justify-content-center align-items-start">

        <div class="container px-0 d-flex justify-content-center align-items-center">
            <div class="card-group">
                <div class="card m-3">
                    <div class="d-flex flex-column justify-content-between align-items-center">
                        <div class="card-body py-0">
                            <div class="mx-3 mt-4 mb-5 pt-2">
                                <h1 class="card-title text-center">Hung Ly</h1>
                            </div>
                            <div class="card-img-overlay d-flex justify-content-center align-items-end pb-0">
                                <div class="d-inline-flex socials-container">
                                    <a href="https://www.linkedin.com/in/hunghly/"
                                       class="pl-2 pr-1 py-1 d-flex align-items-center justify-content-center">
                                        <i class="fab fa-linkedin fa-2x"></i>
                                    </a>
                                    <a href="https://github.com/hunghly"
                                       class="p-1 d-flex align-items-center justify-content-center">
                                        <i class="fab fa-github-square fa-2x"></i>
                                    </a>
                                    <a href="https://alumni.codeup.com/students/768"
                                       class="p-1 d-flex align-items-center justify-content-center">
                                        <img src="/img/codeup-logo.png" alt="codeup link">
                                    </a>
                                    <a href="mailto:hunghly@gmail.com"
                                       class="pl-1 pr-2 d-flex align-items-center justify-content-center">
                                        <i class="fas fa-envelope-square fa-2x"></i>
                                    </a>
                                </div>
                            </div>
                            <img src="/img/Hung.png" class="about-us-img" alt="Hung's profile">
                        </div>
                    </div>
                </div>
                <div class="card m-3">
                    <div class="d-flex flex-column justify-content-between align-items-center">
                        <div class="card-body py-0">
                            <h1 class="card-title m-3 text-center">Carlos Delgado III</h1>
                            <img src="/img/Charlie.png" class="about-us-img" alt="Hung's profile">
                            <div class="card-img-overlay d-flex justify-content-center align-items-end pb-0">
                                <div class="d-inline-flex socials-container">
                                    <a href="https://www.linkedin.com/in/carlosdelgadoiii/"
                                       class="pl-2 pr-1 py-1 d-flex align-items-center justify-content-center">
                                        <i class="fab fa-linkedin fa-2x"></i>
                                    </a>
                                    <a href="https://github.com/Carlos-Delgado23"
                                       class="p-1 d-flex align-items-center justify-content-center">
                                        <i class="fab fa-github-square fa-2x"></i>
                                    </a>
                                    <a href="https://alumni.codeup.com/students/776"
                                       class="p-1 d-flex align-items-center justify-content-center">
                                        <img src="/img/codeup-logo.png" alt="codeup link">
                                    </a>
                                    <a href="mailto:carlos.delgado.dev@gmail.com"
                                       class="pl-1 pr-2 d-flex align-items-center justify-content-center">
                                        <i class="fas fa-envelope-square fa-2x"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card m-3">
                    <div class="d-flex flex-column justify-content-between align-items-center">
                        <div class="card-body py-0">
                            <h1 class="card-title mx-3 mt-4 mb-5 pt-2 text-center">Dayna Leal</h1>
                            <img src="/img/Dayna.png" class="about-us-img" alt="Hung's profile">
                            <div class="card-img-overlay d-flex justify-content-center align-items-end pb-0">
                                <div class="d-inline-flex socials-container">
                                    <a href="https://www.linkedin.com/in/daynaleal/"
                                       class="pl-2 pr-1 py-1 d-flex align-items-center justify-content-center">
                                        <i class="fab fa-linkedin fa-2x"></i>
                                    </a>
                                    <a href="https://github.com/DaynaLeal"
                                       class="p-1 d-flex align-items-center justify-content-center">
                                        <i class="fab fa-github-square fa-2x"></i>
                                    </a>
                                    <a href="https://alumni.codeup.com/students/775"
                                       class="p-1 d-flex align-items-center justify-content-center">
                                        <img src="/img/codeup-logo.png" alt="codeup link">
                                    </a>
                                    <a href="mailto:dayna.r.leal@gmail.com"
                                       class="pl-1 pr-2 d-flex align-items-center justify-content-center">
                                        <i class="fas fa-envelope-square fa-2x"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<th:block th:include="partials/fragments :: footer"/>
<th:block th:include="partials/fragments :: scripts"/>
</body>
</html>